.header-area {
  z-index: 99;
  position: relative;
  width: 100%;

  .header-middle-area {
    padding-top: 22px;
    padding-bottom: 22px;

    .container {
      .row {
        justify-content: space-between;
        align-items: center;
        position: relative;
      }

      .col {
        flex-grow: 1;
        position: static;
        flex-basis: 0;
        max-width: 100%;
      }
    }

    .main-menu {
      ul {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
      }

      .menu-icon {
        display: inline-block;
        position: relative;
        margin: 0 20px 0 0;
        list-style: none;

        a {
          font-size: 16px;
          padding: 20px 10px;
          display: inline-block;
          white-space: nowrap;
          color: var(--custom__heading-color);
          font-weight: 700;
          font-family: var(--custom__heading-font);

          &:hover {
            color: var(--custom__secondary-color) !important;
          }
        }
      }
    }

    .header-options {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      .icon {
        margin-right: 10px;
      }

      .icon > a:hover {
        background-color: var(--custom__secondary-color) !important;
        color: var(--white) !important;
        cursor: pointer;
      }

      a {
        display: block;
        height: 50px;
        width: 50px;
        line-height: 50px;
        background: var(--white);
        color: var(--custom__heading-color);
        text-align: center;
        justify-content: center;
        padding: 0;
        transition: all 0.3s ease 0s;
        border-radius: 30px;
        box-shadow: var(--custom__box-shadow-1);
      }

      .user-icon {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.logo {
  min-width: 185px;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  a {
    color: var(--custom__primary-color);
    font-weight: 600;
    letter-spacing: 1px;
    display: contents;
  }
}

@media (max-width: 479px) {
  .header-search,
  a {
    border-radius: 0% !important;
    margin: 25% 0 2% !important;
  }
}

@media (max-width: 767px) {
  .logo {
    min-width: 100px;
  }
}

@media (max-width: 1199px) {
  .logo {
    min-width: 180px;
  }
}
