<header class="header-area bg-transparent">
  <div class="sticky-top header-middle-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="logo-wrap d-flex">
            <div class="logo navbar-brand">
              <a routerLink="/home">
                <img src="../../../assets/images/logo.png" alt="Logo" />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col header-menu-column d-none d-md-block d-sm-none d-xs-none d-xl-block"
        >
          <nav>
            <div class="main-menu">
              <ul>
                <li class="menu-icon">
                  <a routerLink="/home">Home</a>
                </li>
                <li class="menu-icon">
                  <a routerLink="/products">Shop</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="col-sm-5 col-md-2 header-options">
          <div class="icon mini-cart-icon d-md-none d-xl-none">
            <a routerLink="/home" title="Home">
              <i class="bi bi-house-door"></i>
            </a>
          </div>
          <div class="icon mini-cart-icon d-md-none d-xl-none">
            <a routerLink="/products" title="Shop">
              <i class="bi bi-shop"></i>
            </a>
          </div>
          <!-- user-menu -->
          <div
            class="icon user-icon"
            *ngIf="auth.isAuthenticated$ | async; else loggedOut"
          >
            <a (click)="logout()">
              <i class="bi bi-person"></i>
            </a>
          </div>
          <ng-template #loggedOut>
            <div class="icon user-icon">
              <a title="Login to explore" (click)="loginWithRedirect()">
                <i class="bi bi-person-exclamation"></i>
              </a>
            </div>
          </ng-template>
          <div class="icon mini-cart-icon">
            <a routerLink="/cart" title="Cart">
              <i class="bi bi-cart3"></i>
              <sup *ngIf="auth.isAuthenticated$ | async">
                {{ sharedService.cartCount }}
              </sup>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
