<header class="header-area bg-transparent">
  <div class="sticky-top header-middle-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="logo-wrap d-flex">
            <div class="logo navbar-brand">
              <a routerLink="/home">
                <img src="../../../assets/images/logo.png" alt="Logo" />
              </a>
            </div>
          </div>
        </div>
        <div class="col header-menu-column">
          <nav>
            <div class="main-menu">
              <ul>
                <li class="menu-icon">
                  <a routerLink="/home">Home</a>
                </li>
                <li class="menu-icon">
                  <a routerLink="/products">Shop</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-2 header-options">
          <!-- user-menu -->
          <div class="icon user-icon" *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <a class="pe-auto" (click)="logout()">
              <i class="bi bi-person"></i>
            </a>
          </div>
          <ng-template #loggedOut>
            <div class="icon user-icon">
              <a class="pe-auto" (click)="loginWithRedirect()">
                <i class="bi bi-person-exclamation"></i>
              </a>
          </div>
          </ng-template>
          <!-- mini-cart -->
          <div class="icon mini-cart-icon">
            <a routerLink="/cart" class="toggle">
              <i class="bi bi-cart3"></i>
              <sup>2</sup>
            </a>
          </div>
          <!-- mini-cart -->
          <!-- Mobile Menu Button -->
          <div class="mobile-menu-toggle d-xl-none">
            <a href="#mobile-menu" class="toggle">
              <i class="bi bi-list"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Mobile Menu -->
<div id="mobile-menu" class="mobile-view mobile-menu d-none">
  <div class="menu-inner scrollbar">
      <div class="menu-header">
          <div class="logo navbar-brand">
              <a href="index.html">
                <img src="../../../assets/images/logo.png" alt="Logo">
              </a>
          </div>
          <button class="mobile-menu-close">×</button>
      </div>
      <div class="search-form">
          <form action="#">
              <input type="text" placeholder="Search...">
              <button><i class="bi bi-search"></i></button>
          </form>
      </div>
      <div class="menu-list">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/product">Shop</a></li>
          </ul>
      </div>
      <div class="menu-buttons">
          <ul class="p-0 m-0">
              <li>
                  <a title="My Account">
                      <span class="btn-icon">
                          <i class="bi bi-person"></i>
                      </span>
                      My Account
                  </a>
              </li>
              <li>
                  <a title="Shopping Cart">
                      <span class="btn-icon">
                          <i class="bi bi-cart3"></i>
                          <sup>5</sup>
                      </span>
                      Shopping Cart
                  </a>
              </li>
          </ul>
      </div>
      <div class="social-media-menu">
          <ul class="p-0 m-0">
              <li><a href="#" title="Facebook"><i class="bi bi-facebook"></i></a></li>
              <li><a href="#" title="Twitter"><i class="bi bi-twitter"></i></a></li>
              <li><a href="#" title="Linkedin"><i class="bi bi-linkedin"></i></a></li>
              <li><a href="#" title="Instagram"><i class="bi bi-instagram"></i></a></li>
          </ul>
      </div>
  </div>
</div>
