<div class="checkout-container container" *ngIf="!orderPlaced; else orderPlacedContent">
    <div class="row">
        <div class="col-lg-12">
            <div class="billing-address">
                <h4 class="title">Billing Address</h4>
                <div class="checkout-info">
                    <form class="formwidth" [formGroup]="billingForm" (ngSubmit)="onSubmit()">
                        <h6>Personal Information</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width-field">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" formControlName="firstName">
                                    <mat-error
                                        *ngIf="!billingForm.controls['firstName'].valid && billingForm.controls['firstName'].touched">First
                                        name is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width-field">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" formControlName="lastName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width-field">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" placeholder="Email" formControlName="email" />
                                    <mat-error
                                        *ngIf=" !billingForm.controls['email'].valid && billingForm.controls['email'].touched">
                                        <span *ngIf="billingForm.controls['email'].errors?.['required']">Email is
                                            required</span>
                                        <span *ngIf="billingForm.controls['email'].errors?.['pattern']">Email is not
                                            valid</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width-field">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput type="text" formControlName="phoneNo">
                                    <mat-error
                                        *ngIf=" !billingForm.controls['phoneNo'].valid && billingForm.controls['phoneNo'].touched">
                                        <span *ngIf="billingForm.controls['phoneNo'].errors?.['required']">Phone number
                                            is required</span>
                                        <span *ngIf="billingForm.controls['phoneNo'].errors?.['pattern']">Phone number
                                            is not valid</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Address</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width-field">
                                            <mat-label>Address</mat-label>
                                            <input matInput type="text" formControlName="address"
                                                placeholder="House number and street name">
                                            <mat-error
                                                *ngIf="!billingForm.controls['address'].valid && billingForm.controls['address'].touched">Address
                                                is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width-field">
                                            <mat-label>Country</mat-label>
                                            <mat-select formControlName="country">
                                                <mat-option *ngFor="let country of countries" [value]="country">
                                                    {{country}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="!billingForm.controls['country'].valid && billingForm.controls['country'].touched">Country
                                                is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <h6>Town / City</h6>
                                <mat-form-field class="full-width-field">
                                    <mat-label>City</mat-label>
                                    <input matInput type="text" formControlName="city">
                                    <mat-error
                                        *ngIf="!billingForm.controls['city'].valid && billingForm.controls['city'].touched">City
                                        is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <h6>State </h6>
                                <mat-form-field class="full-width-field">
                                    <mat-label>State</mat-label>
                                    <input matInput type="text" formControlName="state">
                                    <mat-error
                                        *ngIf="!billingForm.controls['state'].valid && billingForm.controls['state'].touched">State
                                        is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <h6>Zip</h6>
                                <mat-form-field class="full-width-field">
                                    <mat-label>Zip</mat-label>
                                    <input matInput type="text" formControlName="zip">
                                    <mat-error
                                        *ngIf="!billingForm.controls['zip'].valid && billingForm.controls['zip'].touched">Zip
                                        code is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="payment-method">
                <h4 class="title">Payment Method</h4>
                <mat-accordion>
                    <mat-expansion-panel  #panel1 [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-radio-button  [checked]="panel1.expanded"></mat-radio-button>
                                Cash on delivery</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Pay with cash upon delivery.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel  #panel2>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-radio-button  [checked]="panel2.expanded"></mat-radio-button>
                                PayPal
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Pay via PayPal; you can pay with your credit card if you don’t
                            have a PayPal account.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="payment-note">
                    <p>
                        Your personal data will be used to process your order, support your
                        experience throughout this website, and for other purposes described
                        in our privacy policy.
                    </p>
                </div>
                <button class="custom-button place-order-btn" [disabled]="!billingForm.valid || cartItems.length == 0" (click)="placeOrder()">PLACE ORDER</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="cart-total">
                <h4 class="title">Cart Total</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let item of cartItems">
                            <td>{{item.name}} <strong class="pl-1">x{{ item.quantity }}</strong></td>
                            <td>{{item.total | currency : "INR"}}</td>
                        </tr>
                        <tr>
                            <td>Cart SubTotal</td>
                            <td>{{ cartValue | currency : "INR" }}</td>
                        </tr>
                        <tr>
                            <td>Shipping and Handing</td>
                            <td>{{ 150 | currency : "INR" }}</td>
                        </tr>
                        <tr>
                            <td><strong>Order Total</strong></td>
                            <td>
                                <strong>{{ (cartValue + 150) | currency : "INR" }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #orderPlacedContent>
    <div class="checkout-container container">
        <div class="row text-center">
            <div class="col-12">
                <img class="img-responsive text-center" src="../../../../assets/images/icons/delivery.gif"
                    alt="Order placed" />
            </div>
            <div class="col-12">
                <b class="fs-1"><i class="bi bi-check-circle px-2 successIcon"></i> Order Successfully Placed.</b>
                <p class="pt-3 fs-5">
                    Hi {{userName}}!, Thank you for your order!
                </p>
                <p class="fs-5">Your order is being processed. Meanwhile you can continue shopping from <a class="successIcon" routerLink="/products">here</a>.</p>
            </div>
        </div>
    </div>
</ng-template>