/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "ngx-toastr/toastr-bs5-alert";

@font-face {
  font-family: "Titillium Web";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url(./assets/fonts/PTSansNarrow-Regular.ttf) format("truetype");
}

:root {
  --custom__primary-color: #071c1f;
  /* Lighten */
  --custom__secondary-color: #80b500;
  /* Darken */
  --custom__secondary-color-3: #a2da1c;
  /* Lighten */
  --custom__heading-color: #071c1f;
  --custom__paragraph-color: #071c1f;

  --custom__heading-font: "Titillium Web", sans-serif;
  --custom__body-font: "PT Sans Narrow", sans-serif;

  /* Background Colors */
  --section-bg-1: #f7f5eb;
  --section-bg-2: #071c1f;

  /* Border Colors */
  --border-color-1: #e5eaee;
  --border-color-2: #f6f6f6;
  --border-color-3: #ededed;

  /* Box Shadow Colors */
  --custom__box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  /* like border */
  --custom__box-shadow-2: 0 1px 6px 0 rgba(54, 56, 61, 0.15);

  /* Common Colors */
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--custom__paragraph-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: var(--custom__body-font);
  line-height: 1.8;
  margin: 0 auto;
}

#main {
  position: relative;

  .navbar-brand img {
    max-width: 120px;
  }
}

html,
body {
  height: 100%;
}

h3,
h4,
h6 {
  color: var(--custom__heading-color) !important;
  font-family: var(--custom__heading-font);
  font-weight: 700 !important;
  line-height: 1.3;
  clear: both;
  margin-bottom: 15px;
}

a {
  text-decoration: none !important;
  outline: none !important;
  color: var(--custom__primary-color);
}

ul > li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.mat-mdc-slider .mdc-slider__track--inactive,
.mat-mdc-slider .mdc-slider__track--active,
.mdc-slider__track--active_fill {
  background-color: var(--custom__primary-color) !important;
  border-color: var(--custom__primary-color) !important;
}

.mdc-slider__thumb-knob {
  background-color: var(--custom__secondary-color) !important;
  border-color: var(--custom__secondary-color) !important;
}

.mat-mdc-table {
  background: var(--white);
}

.mdc-data-table__cell {
  color: var(--custom__primary-color);
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom: 1px solid var(--border-color-1);
}

.mat-mdc-row:last-child {
  border-bottom: 1px solid var(--border-color-1) !important;
}

.mat-column-name {
  height: 100px;
}

.mat-expansion-panel {
  background-color: var(--white) !important;
  border-color: var(--white) !important;
  color: var(--custom__heading-color) !important;
}

.mat-expansion-panel-header-title {
  color: var(--custom__heading-color) !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: var(--custom__secondary-color) !important;
  border-color: var(--custom__secondary-color) !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: var(--custom__secondary-color) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: black !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: transparent !important;
}

.mdc-text-field .mdc-text-field__input {
  caret-color: var(--mdc-theme-primary, --custom__secondary-color);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--custom__secondary-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: var(--custom__secondary-color) !important;
}

.mat-mdc-select-arrow,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: var(--custom__secondary-color) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
.mat-mdc-select {
  color: var(--custom__heading-color) !important;
}

.mdc-text-field--invalid .mdc-text-field__input,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-error, #f44336) !important;
  caret-color: var(--mdc-theme-error, #f44336) !important;
}

.mdc-data-table__header-cell {
  padding: 0 16px 0 16px;
  color: var(--custom__heading-color) !important;
  height: max-content !important;
}

.toast-container .ngx-toastr .toast-message,
.toast-container .ngx-toastr .toast-title {
  color: var(--white) !important;
}

.toast-success {
  background-color: var(--custom__secondary-color) !important;
}

.custom-button {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--custom__heading-font);
  text-align: center;
  cursor: pointer;
  padding: 15px 40px;
  background: linear-gradient(
    to right,
    white 50%,
    var(--custom__secondary-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  color: var(--white);
  border-radius: 0 !important;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-position: left bottom;
    color: var(--custom__heading-color);
    border: 1px solid var(--custom__heading-color);
  }
}
