.product-list-section {

  .product-filters {
    .filter {
      margin-bottom: 40px;
      padding: 35px 30px 40px 35px;
      border: 2px solid var(--border-color-11);
    }

    .filter-title {
      // font-size: 20px;
      margin-bottom: 35px;
      text-transform: capitalize;
      position: relative;
      color: var(--ltn__heading-color);
      clear: both;
      font-family: var(--ltn__heading-font);
      font-weight: 700;
      line-height: 1.3;

      i.bi {
        margin-right: 10px;
        color: var(--custom__secondary-color) !important;
      }
    }

    .category {
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;

      & .active,
      &:hover {
        color: var(--custom__secondary-color) !important;
      }
    }

    .price-filter {
      .range {
        font-weight: 700;
        float: right;
      }
      .price-value {
        width: 100%;
      }
    }
  }
}

#productDetailModal.modal {
  .product-price {
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--custom__secondary-color);
    line-height: 1.2;
    font-weight: 600;
  }

  .product-desc {
    margin: 15px 0;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color-12);
    border-top: 1px solid var(--border-color-12);
  }

  .product-info {
    padding-left: 25px;
  }

  .product-add-cart {
    li {
      display: inline-block;
      margin: 0 10px 10px 0;
    }

    .cart-plus-minus,
    .dec.quantityButton,
    .inc.quantityButton {
      background-color: var(--white);
      border-color: var(--border-color-11);
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }

    .cart-plus-minus-box {
      background: transparent none repeat scroll 0 0;
      box-shadow: none;
      border: none;
      height: 100%;
      margin-bottom: 0;
      padding: 0;
      text-align: center;
      width: 40%;
      font-weight: 700;
    }

    .cart-plus-minus {
      border: 2px solid;
      height: 63px;
      line-height: 56px;
      width: 140px;
      text-align: center;
      border-color: var(--border-color-11);
    }

    .dec.quantityButton {
      float: left;
      border-right: 2px solid;
      border-color: var(--border-color-11);
    }

    .quantityButton {
      height: 100%;
      width: 30%;
    }

    .inc.quantityButton {
      float: right;
      border-left: 2px solid;
      border-color: var(--border-color-11);
    }

    .add-to-cart {
      height: 63px;
			margin-left: 10px;
      padding: 15px 20px;
    }
  }
}
