<div class="product-list-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="filter-options"></div>
				<div class="product-list-view">
					<div class="row">
						<div class="col-xl-4 col-sm-6 col-6" *ngFor="let product of productList">
							<app-product-item [product]="product"></app-product-item>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<aside class="product-filters d-block">
					<div class="filter category-filter">
						<h4 class="filter-title">
							<i class="bi bi-tags-fill"></i>Product categories
						</h4>
						<ul class="p-0 m-0">
							<li class="mt-3 category" *ngFor="let category of categoryList">
								<span>{{ category }}</span>
							</li>
						</ul>
					</div>
					<div class="filter price-filter">
						<h4 class="filter-title">
							<i class="bi bi-funnel-fill"></i>Filter by price
						</h4>
						<div class="price-range">
							Your range:
							<span class="range">{{ 10 | currency : "INR" : "symbol" : "2.0" }} -
								{{
								filterPriceValue | currency : "INR" : "symbol" : "2.0"
								}}</span>
						</div>
						<mat-slider class="price-value" [max]="5000" [min]="10" [step]="5" [discrete]="true">
							<input matSliderThumb [(ngModel)]="filterPriceValue" />
						</mat-slider>
					</div>
				</aside>
			</div>
		</div>
	</div>
</div>